@model Lab5.Models.ViewModels.NewsViewModel
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Fee
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SportClubs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                <a asp-action="Index" asp-route-id="@item.Id">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.Fans != null)
{
    <h3>
        Owner of the cars:
    </h3>
    <table class="table">
        <tr>
            @if (Model.Fans.Count() > 0)
            {
                <th> Make </th>
            }
            else
            {
                <th> No fan record exist </th>
            }
        </tr>
        @foreach (var item in Model.Fans)
        {
            <tr>
                <td>
                    @item.FirstName   ,  @item.LastName
                </td>
            </tr>
        }
    </table>
}