@model Lab5.Models.ViewModels.FanViewModel

@{
    ViewData["Title"] = "Index-Fans";
}

<h1>Index-Fans</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                LastName
            </th>
            <th>
                FirstName
            </th>
            <th>
                BirthDate
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fans) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
                    <a asp-action="Index" asp-route-id="@item.Id">Select</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.SportClubs != null)
{
    <h3>Member of the following SportClubs</h3>
    <table class="table">
        <tr>
            @if (Model.SportClubs.Any())
            {
                <th>Title</th>
                <th>Fee</th>
            }
            else
            {
                <th>No subscription record exist</th>
            }
        </tr>
        @foreach (var sportClub in Model.SportClubs)
        {
            <tr>
                <td>
                    @sportClub.Title
                </td>
                <td>
                    @sportClub.Fee
                </td>
            </tr>
        }
    </table>
}